<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Guess the Number Game</title>

  	<!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css}" />
     
    <!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css}" />
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" th:href="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" th:href="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'/>

  </head>

  <body>
	

    <div class="site-wrapper">
   
    <div id='stars'></div>
	<div id='stars2'></div>
	<div id='stars3'></div>
	<div id='title'>
	  
	</div>

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Green Tech Game</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#" th:href="@{/}">Home</a></li>
                  <li><a href="#" th:href="@{https://nz.linkedin.com/in/sakiko-uehara-a667a6101}">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Guess the Number</h1><br/>
            <p class="lead">Guess the secret number.<br/>Enter it in the input box below.</p>
              <form th:action="@{/guess}" th:object="${game}" method="POST">
                <div class="row">
                    <div class="input-group input-group-lg">
                      <input type="hidden" th:field="*{attempt}"></input>
                      <input type="hidden" th:field="*{secretNum}"></input>
                      <input type="hidden" th:field="*{message.gameOver}"></input>
                      <input type="hidden" th:field="*{message.message}"></input> 
                      <input type="text" class="form-control" placeholder="Enter your guess here" th:field="*{guess}"></input>
                      <span class="input-group-btn">
                        <button class="btn btn-success active" type="submit">Submit</button>
                      </span>
                    </div><!-- /input-group -->
                </div><!-- /.row -->
                                  
                  <p th:if="${#fields.hasErrors('guess')}" th:errors="*{guess}">Name Error</p>
                  <h3><span th:text="*{message.message}"></span></h3><br/>
                  <label for="attempt">Your attempt:</label>
                  <span th:text="${game.attempt}"></span><br/><br/>
                  <a class="btn btn-lg btn-default" href="#" th:href="@{/}">Reset</a><br/>
               </form>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>&copy; Sakiko 2015.  All Rights Reserved.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" th:href="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>
